.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px #333333;
  border-radius: 10px;
}

.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  padding-top: 30px;
}

.description {
  color: #333333;
  font-family: 'Roboto';
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.button {
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  border-radius: 10px;
  height: 38px;
  width: 138px;
}

.countNumber {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 40px;
  margin-bottom: 100px;
}

@media (max-width:767px){
  .bg-container{
    width: 100vh;
  }
  .card-container{
    max-width: 80%;
  }
}